p {
  color: darkblue;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

svg {
  background: rgb(255, 255, 255);
  align-items: center;
  margin-top: 50px;
}

svg text {
  font-size: 4rem;
  stroke-width: 3px;
  fill: transparent;
  stroke: #1b1a1a;
  letter-spacing: 2px;
  animation: effect 6s infinite alternate;
}

@keyframes effect {
  0% {
    stroke-dasharray: 0 70%;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: 10%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
    position: relative;
    outline: none;
    height: 38px;
    width: 90px;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
  
  }
  
  .border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 38px;
    transition: .3s;
  }
  
  .btn:hover .border {
    width: 90px;
    height: 48px;
  }
  
  .box {
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #3641b7;
    border-right: transparent;
    border-bottom: transparent;
    transition: .3s;
  }
  
  .left-corner {
    top: -2px;
    left: -2px;
  }
  
  .right-corner {
    bottom: -2px;
    right: -2px;
    transform: rotate(180deg);
  }
  
  .btn:hover .border .left-corner {
    transform: translate(-5px, -5px);
  }
  
  .btn:hover .border .right-corner {
    transform: translate(5px, 5px)rotate(180deg)
  }